* {
    margin: 0;
}

body {
    min-width: 177.778vh;
    max-height: 231.481vh;
}

header {
    display: flex;
    min-width: 177.778vh;
    height: 7.778vh;
    padding: 0 7.037vh;
    align-items: flex-start;
    background: #101111;
}

.wrapper {
    display: flex;
    padding: 1.667vh 0;
    justify-content: center;
    align-items: flex-start;
    gap: 82.315vh;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1.389vh;
}

.logo img {
    width: 4.444vh;
    height: 4.444vh;
}

.logo span {
    color: #FFF;
    font-family: Syncopate;
    font-size: 2.222vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}