* {
    margin: 0;
    user-select: none
}

body {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    background: #101111;
    position: relative;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    padding: 0 28.704vh;
}

.particles, .particles img {
    width: 70.278vh;
    height: 56.574vh;
}

.particles {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.firstEllipse {
    width: 76.389vh;
    height: 59.63vh;
    border-radius: 76.389vh;
    opacity: 0.56;
    background: #7169E1;
    filter: blur(34.815vh);
    position: absolute;
    top: -12.292vw;
    left: -15.729vw;
    z-index: -2;
}

.secondEllipse {
    width: 52.13vh;
    height: 52.5vh;
    border-radius: 52.5vh;
    opacity: 0.56;
    background: #0053D4;
    filter: blur(25.231vh);
    position: absolute;
    top: 7.708vw;
    left: 49.323vw;
    z-index: -2;
}

.thirdEllipse {
    width: 51.667vh;
    height: 51.759vh;
    border-radius: 51.759vh;
    opacity: 0.56;
    background: #0060FF;
    filter: blur(25.231vh);
    position: absolute;
    top: 12.604vw;
    left: 50.365vw;
    z-index: -2;
}

header {
    gap: 19.444vh;
    height: 8.889vh;
}

.logo, .logo img {
    width: 26.296vh;
    height: 4.444vh;
}

nav {
    display: flex;
    height: 8.889vh;
    justify-content: center;
    align-items: center;
    gap: 3.704vh;
}

nav span {
    color: #FFF;
    font-family: Gilroy;
    font-size: 1.481vh;
    font-style: normal;
    font-weight: 700;
    line-height: 2.222vh;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.963vh;
}

.download {
    display: flex;
    padding: 0.926vh 2.778vh;
    align-items: center;
    gap: 0.926vh;
    border-radius: 1.296vh;
    background: #5E4FF1;
}

a {
    text-decoration: none;
}

.download span {
    color: #FFF;
    font-family: Gilroy;
    font-size: 1.667vh;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.social {
    display: flex;
    width: 6.481vh;
    align-items: flex-start;
    gap: 1.296vh;
}

.social img {
    width: 2.593vh;
    height: 2.593vh;
    flex-shrink: 0;
}

.policeTapeFirst, .policeTapeFirst img, .policeTapeSecond, .policeTapeSecond img {
    width: 160.833vh;
}

.policeTapeFirst {
    position: absolute;
    rotate: 10deg;
    top: 19.352vh;
    left: -23.519vh;
}

.policeTapeSecond {
    position: absolute;
    rotate: -7deg;
    left: -13.148vh;
    top: 85.093vh;
}

.mainInfo {
    display: flex;
    height: 91.111vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4.63vh;
    align-self: stretch;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.852vh;
    width: 54.259vh;
}

.userChoiceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userChoice {
    width: 17.13vh;
    height: 3.519vh;
    border-radius: 0.926vh;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(1.065vh);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.userChoiceContent {
    color: #FFF;
    font-family: Gilroy;
    font-size: 1.667vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.userChoiceBackground {
    width: 15.185vh;
    height: 1.759vh;
    background: #5E4FF1;
    position: absolute;
    z-index: -1;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.389vh;
    align-self: stretch;
}

.textHeader {
    color: #FFF;
    font-family: Gilroy;
    font-size: 4.444vh;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    align-self: stretch;
}

.textContent {
    color: rgba(255, 255, 255, 0.80);
    font-family: Gilroy;
    font-size: 1.759vh;
    font-style: normal;
    font-weight: 400;
    line-height: 2.593vh;
}